<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic")
        link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
        link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
        link(rel='stylesheet', href='./css/index.css')
        title Document
    body.body_noimg
        header.header
            .header__wrap
                a(href="tel:+7").phone.header__phone +1 (234) 567-8901
                .logo.header__logo
                    img(src="./img/logo.svg", alt="Logotype")
                .servicebar.header__servicebar
                    ul.servicebar__wrap
                        li.servicebar__item.servicebar__navbtnwrap
                            button.servicebar__button.servicebar__navbtn.
                                <svg class="servicebar__nav" width="20px" height="16px" viewBox="0 0 20 16" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.5532 2.38298L0.510638 2.38298C0.228638 2.38298 0 2.15434 0 1.87234L0 0.510638C0 0.228638 0.228638 0 0.510638 0L18.5532 0C18.8352 0 19.0638 0.228638 19.0638 0.510638L19.0638 1.87234C19.0638 2.15434 18.8352 2.38298 18.5532 2.38298ZM18.5532 9.19149L0.510638 9.19149C0.228638 9.19149 0 8.96285 0 8.68085L0 7.31915C0 7.03715 0.228638 6.80851 0.510638 6.80851L18.5532 6.80851C18.8352 6.80851 19.0638 7.03715 19.0638 7.31915L19.0638 8.68085C19.0638 8.96285 18.8352 9.19149 18.5532 9.19149ZM0.510638 16L18.5532 16C18.8352 16 19.0638 15.7714 19.0638 15.4894L19.0638 14.1277C19.0638 13.8457 18.8352 13.617 18.5532 13.617L0.510638 13.617C0.228638 13.617 0 13.8457 0 14.1277L0 15.4894C0 15.7714 0.228638 16 0.510638 16Z" id="Shape" fill="#000000" fill-rule="evenodd" stroke="none" />
                                </svg>
                        li.servicebar__item
                            button.servicebar__button.servicebar__searchbtn.
                                <svg class="servicebar__search" width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.7134 19.2452L27.7544 26.2862C28.0109 26.5427 28.0109 26.9575 27.7544 27.214L27.214 27.7544C26.9575 28.0109 26.5427 28.0109 26.2862 27.7544L19.2452 20.7134C19.1251 20.5879 19.0542 20.4242 19.0542 20.2495L19.0542 19.6928C17.0292 21.5595 14.3275 22.7057 11.3528 22.7057C5.08148 22.7057 0 17.6242 0 11.3528C0 5.08148 5.08148 0 11.3528 0C17.6242 0 22.7057 5.08148 22.7057 11.3528C22.7057 14.3275 21.5595 17.0292 19.6873 19.0542L20.2495 19.0542C20.4242 19.0542 20.5879 19.1197 20.7134 19.2452ZM1.74659 11.3528C1.74659 16.6635 6.04211 20.9591 11.3528 20.9591C16.6635 20.9591 20.9591 16.6635 20.9591 11.3528C20.9591 6.04211 16.6635 1.74659 11.3528 1.74659C6.04211 1.74659 1.74659 6.04211 1.74659 11.3528Z" id="Shape" fill="#000000" fill-rule="evenodd" stroke="none" />
                                </svg>
                        li.servicebar__item
                            button.servicebar__button.
                                <svg class="servicebar__profile" width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 0C9.65234 0 6.125 3.52734 6.125 7.875C6.125 12.2227 9.65234 15.75 14 15.75C18.3477 15.75 21.875 12.2227 21.875 7.875C21.875 3.52734 18.3477 0 14 0ZM20.125 7.875C20.125 4.49531 17.3797 1.75 14 1.75C10.6203 1.75 7.875 4.49531 7.875 7.875C7.875 11.2547 10.6203 14 14 14C17.3797 14 20.125 11.2547 20.125 7.875ZM14 18.375C17.1172 18.375 15.9469 17.5 21 17.5C24.8664 17.5 28 20.6336 28 24.5L28 26.25C28 27.218 27.218 28 26.25 28L1.75 28C0.782031 28 0 27.218 0 26.25L0 24.5C0 20.6336 3.13359 17.5 7 17.5C12.0477 17.5 10.8938 18.375 14 18.375ZM26.25 24.5C26.25 21.607 23.893 19.25 21 19.25C16.3461 19.25 17.3305 20.125 14 20.125C10.6805 20.125 11.6484 19.25 7 19.25C4.10703 19.25 1.75 21.607 1.75 24.5L1.75 26.25L26.25 26.25L26.25 24.5Z" id="Shape" fill="#000000" fill-rule="evenodd" stroke="none" />
                                </svg>
                        li.servicebar__item
                            button.servicebar__button.
                                <svg class="servicebar__cart cart" width="37px" height="29px" viewBox="0 0 37 29" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                                    <g transform="translate(0.5 0.5)">
                                        <path d="M7.07 3.5L30.187 3.5C31.0196 3.5 31.6418 4.26513 31.472 5.08019L29.1023 16.4552C28.9755 17.0638 28.4391 17.5 27.8174 17.5L9.695 17.5L10.3512 21L26.5414 21C27.1666 21 27.6731 21.4315 27.8148 21.9916C28.4685 22.6275 28.8751 23.516 28.8751 24.5C28.8751 26.433 27.308 28 25.3751 28C23.4421 28 21.8751 26.433 21.8751 24.5C21.8744 23.8855 22.0363 23.2817 22.3444 22.75L14.4056 22.75C14.7137 23.2817 14.8757 23.8855 14.875 24.5C14.875 26.433 13.308 28 11.375 28C9.44202 28 7.875 26.433 7.875 24.5C7.875 23.5933 8.2198 22.7672 8.78538 22.1455L4.96125 1.75L0.65625 1.75C0.293836 1.75 0 1.45616 0 1.09375L0 0.65625C0 0.293836 0.293836 0 0.65625 0L5.32448 0C5.95607 0 6.49808 0.449859 6.61451 1.07062L7.07 3.5ZM9.36687 15.75L27.4617 15.75L29.6492 5.25L7.39813 5.25L9.36687 15.75ZM11.375 26.25C12.34 26.25 13.125 25.465 13.125 24.5C13.125 23.535 12.34 22.75 11.375 22.75C10.41 22.75 9.625 23.535 9.625 24.5C9.625 25.465 10.41 26.25 11.375 26.25ZM25.375 26.25C24.41 26.25 23.625 25.465 23.625 24.5C23.625 23.535 24.41 22.75 25.375 22.75C26.34 22.75 27.125 23.535 27.125 24.5C27.125 25.465 26.34 26.25 25.375 26.25Z" id="Shape" fill="#000000" fill-rule="evenodd" stroke="none" />
                                        <svg class="cart__itemin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" x="22" width="14px" height="14px">
                                            <circle cx="7" cy="7" r="7" style="fill:#9e8b6b"/>
                                            <text class="cart__count" x="50%" y="50%" dominant-baseline="central" text-anchor="middle" style="font-size:10px;fill:#fff;font-family:Roboto-Bold, Roboto;font-weight:700">3</text>
                                        </svg>
                                    </g>
                                </svg>
                nav.nav.header__nav
                    ul.nav__wrap
                        li.nav__item
                            a(href="#") Спальня
                        li.nav__item
                            a(href="#") Ванна
                        li.nav__item
                            a(href="#") Детская
                        li.nav__item
                            a(href="#") Столовая
                        li.nav__item
                            a(href="#") Подарки
                        li.nav__item
                            a(href="#") Пошив на заказ
                        li.nav__item
                            a(href="#") Вышивка
                        li.nav__item
                            a(href="#") Шоурум
        section.mainslider
            .mainslider__item
                img.mainslider__img(src="./img/slider/img001.png", alt="Img001")
            .mainslider__item
                img.mainslider__img(src="./img/slider/img002.png", alt="Img002")
            .mainslider__item
                img.mainslider__img(src="./img/slider/img003.png", alt="Img003")
            .mainslider__item
                img.mainslider__img(src="./img/slider/img001.png", alt="Img001")
            .mainslider__item
                img.mainslider__img(src="./img/slider/img003.png", alt="Img003")
        main.main
            section.about.main__about
                h1.about__title Кастомный дизайн 
                    span - это круто
                p.about__text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus sit amet nisi semper viverra id nec nisi. Pellentesque mollis
                    fermentum ultrices. Donec vestibulum urna nec vehicula dictum. Nullam quis congue neque, id pretium dolor. Aliquam semper ligula nec
                    ullamcorper congue. Praesent in lectus commodo, porttitor sem non, finibus metus. Nulla lacinia risus eu maximus eleifend. Mauris non
                    lacinia nisi. Proin vitae lorem lacus.
                a(href="").about__morehref Подробнее
            section.banners.main_banners
                .banners__item01
                    img(src="./img/banner/b_img001.png", alt="img001").banners__img
                .banners__item02
                    img(src="./img/banner/b_img002.png", alt="img002").banners__img
                .banners__item03
                    img(src="./img/banner/b_img003.png", alt="img003").banners__img
                .banners__item04
                    img(src="./img/banner/b_img004.png", alt="img004").banners__img
                .banners__item05
                    img(src="./img/banner/b_img005.png", alt="img005").banners__img
            section.features.main__features
                .features__wrap
                    .features__item
                        h2.features__title Мы лучшие
                        p.features__text.
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.
                    .features__item
                        h2.features__title Но можем еще лучше
                        p.features__text.
                            Nam sit amet lectus sit amet nisi
                            semper viverra id nec nisi.
                    .features__item
                        h2.features__title Лучше не найдете
                        p.features__text.
                            Pellentesque mollis fermentum ultrices.
                            Donec vestibulum urna.
                    .features__item
                        h2.features__title Даже не пытайтесь
                        p.features__text.
                            Nullam quis congue neque, id pretium
                            dolor.
                .features__slider
                    .features__item
                        h2.features__title Мы лучшие
                        p.features__text.
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.
                    .features__item
                        h2.features__title Но можем еще лучше
                        p.features__text.
                            Nam sit amet lectus sit amet nisi
                            semper viverra id nec nisi.
                    .features__item
                        h2.features__title Лучше не найдете
                        p.features__text.
                            Pellentesque mollis fermentum ultrices.
                            Donec vestibulum urna.
                    .features__item
                        h2.features__title Даже не пытайтесь
                        p.features__text.
                            Nullam quis congue neque, id pretium
                            dolor.
        footer.footer
            .footer__wrap
                section.footernav
                    .categories.footernav__categories
                        h3.categories__title Категории
                        ul.categories__wrap
                            li.categories__item
                                a(href="#") Спальня
                            li.categories__item
                                a(href="#") Ванна
                            li.categories__item
                                a(href="#") Детская
                            li.categories__item
                                a(href="#") Столовая
                            li.categories__item
                                a(href="#") Коллекции
                            li.categories__item
                                a(href="#") Подарки
                    .services.footernav__services
                        h3.services__title Клиентский сервис
                        ul.services__wrap
                            li.services__item
                                a(href="#") Вышивка
                            li.services__item
                                a(href="#") Пошив по размерам
                            li.services__item
                                a(href="#") Подарочный сертификат
                            li.services__item
                                a(href="#") Написать нам
                            li.services__item
                                a(href="#") Доставка и оплата
                            li.services__item
                                a(href="#") Политика возврата
                            li.services__item
                                a(href="#") Гарантия качества
                            li.services__item
                                a(href="#") Гид по покупкам
                section.subscription
                    .subscription__wrap
                        h3.subscription__title Присоединяйтесь к нам!
                        p.subscription__text Будьте в курсе новых поступлений, акций и распродаж.
                        form.subform.subscription__form
                            input(type="text", name="email", placeholder="Введите ваш email", required)#email.subform__email
                            .subform__checkbox
                                input(type="checkbox", name="consent", required)#consent.subform__checkinput
                                label(for="consent").subform__checklabel Я даю согласие на 
                                    a(href="#") обработку
                                    |  персональных данных.
                            button(type="submit" ).subform__button Подписаться
                section.company
                    .company__copyright
                        h4 © 2014-2019 Custom Company
                        p Здесь еще какой-нибудь текст отказа от ответственности
                    .company__name Сайт сделан в студии 
                        a(href="#") Артоф
        script(src="https://kit.fontawesome.com/be5bf6aedc.js")
        script(type="text/javascript", src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(type="text/javascript", src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
        script(src="./js/index.js")